<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>資訊 : {{ stock_name }}</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="../static/bootstrap-theme.min.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    
    <!-- Custom styles for this template -->
    <link href="../static/theme.css" rel="stylesheet">

    <style>
      .cell1 {
          position: relative;
          display: table-cell;
          width: 150px;
          border-right: 1px dotted #fff;
          padding-left: 20px;
          padding: 10px;
          text-align: left;
          margin-bottom: 10mm;
      }
      .cell2 {
          position: relative;
          display: table-cell;
          width: 150px;
          border-right: 1px dotted #fff;
          padding-left: 20px;
          padding: 10px;
          text-align: right;
      }
    </style>
   <script>
            var roundDecimal = function (val, precision) {
            return Math.round(Math.round(val * Math.pow(10, (precision || 0) + 1)) / 10) / Math.pow(10, (precision || 0));
            }

            function price_calculator(){
              check_K();
              calculator();
            }

            var isOK = false
            function check_K(){
            if(form1.K.value == ""){
                alert("請輸入預期報酬率！");
                isOK = false;
            }else if(form1.K.value < {{Growth}}*100){
                alert("您輸入之預期報酬率小於公司成長率！請重新輸入！");
                isOK = false;
            }else{
                isOK = true;
            }
            }

            function calculator(){
                if (isOK){
                K = form1.K.value / 100;
                var GGM = {{D}}*(1+{{Growth}}) / (K - {{Growth}});
                var SPM = {{EPS}}*{{Growth}} / K**2 + {{D}}/K;
                document.getElementById('price_GGM').innerHTML = roundDecimal(GGM, 1);
                document.getElementById('price_SPM').innerHTML = roundDecimal(SPM, 1);
                }
            }
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
 
  </head>

  <body>
    
    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" >Result</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">回首頁</a></li>
            <li><a href="sss">測試1</a></li>
            <li><a href="#contact">測試2</a></li>
          </ul>
        </div><!--/.nav-collapse -->
        
      </div>
    </nav>
    
    <div class="container theme-showcase" role="main">
      <!--
      <div class="alert alert-warning" role="alert">
        <strong>Warning!</strong> 目前股票資料日期為{{year_data_time}}
      </div>
      -->

      <div class="page-header">
        <h1>股票gogo</h1>
        <form action={{ url_for('stock_query') }} method="get">
          <input type="text" name='stock_id' class="form-control" placeholder="請輸入股票代號" style="width: 50%;margin-bottom: 5mm; ">
          <span class="input-group-btn">
              <button class="btn btn-lg btn-success" type="submit">
                  GO ！
              </button>
              <script>
                  $(function() {
                      $(".btn").click(function(){
                          $(this).button('loading').delay(1000).queue(function() {
                          // $(this).button('reset');
                          // $(this).dequeue(); 
                          });
                      });
                  });  
              </script>
          </span>
      </form>
      </div>
      <div class="page-header">
        <h1>{{ stock_name }}{{ stock_id }}</h1>
        <h3>{{ result }}</h3>
      </div>
      
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#FinYearData">獲利能力(年度)</a></li>
        <li><a data-toggle="tab" href="#FinQuarterData">獲利能力(季度)</a></li>
        <li><a data-toggle="tab" href="#StockValuationModel">股價評價模型</a></li>
      </ul>
    
      <div class="tab-content">
        <div id="FinYearData" class="tab-pane fade in active">
          <div class="alert alert-warning" role="alert">
            <strong>Warning!</strong> 目前股票資料日期為{{year_data_time}}
          </div>
          <div class="row">
            <div class="col-md-10">
              <table class="table table-striped">
                <thead>
                    <tr>
                        {% for column in column_year %}
                            {% if column == '保留盈餘合計' %}
                                {% set column = '保留盈餘合計(億元)' %}
                            {% endif %}
                            <th>{{ column }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in year_data %}
                        <tr>
                            {% for data in row %}
                                <td>{{ data }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div id="FinQuarterData" class="tab-pane fade ">
          <div class="alert alert-warning" role="alert">
            <strong>Warning!</strong> 目前股票資料日期為{{quarter_data_time}}
          </div>
          <div class="row">
            <div class="col-md-10">
              <table class="table table-striped">
                <thead>
                    <tr>
                      {% for column in column_quarter %}
                        {% if column == '保留盈餘合計' %}
                          {% set column = '保留盈餘合計(億元)' %} 
                        {% endif %}
                        <th>{{ column }}</th>
                      {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in quarter_data %}
                        <tr>
                            {% for data in row %}
                                <td>{{ data }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div id="StockValuationModel" class="tab-pane fade ">
          <div class="row">
            <div class="col-md-10">
              <h4>{{stock_name}}{{stock_id}}五年成長率：{{ '%.1f'|format(Growth*100) }}%</h4>
                  <span><strong>注意！預期報酬率應大於公司成長率</strong></span>
                  <form name='form1'>
                    <div class='cell1'>
                        <input type="floatformat" name='K' placeholder="請輸入預期報酬率" style="width: 150%;margin-bottom: 10mm;" required />
                    </div>
                    <div class='cell2'>
                        <input type="button" value='股價計算' class='calc' onclick="price_calculator()"  >
                    </div>
                  </form>
                  <table class="table table-striped">
                    <thead>
                        <tr>
                          <td>評價模型</td>
                          <td>股價</td>
                        <tr>
                    </thead>
                    <tbody>
                        <tr>
                          <td>高登成長模型(GGM)</td>
                          <td id='price_GGM'></td>
                        </tr>
                        <tr>
                          <td>永續和評價法(SPM)</td>
                          <td id='price_SPM'></td>
                        </tr>
                    </tbody>
                  </table>
            </div>
          </div>
        </div>
      </div>
      
      


      <div class="page-header">
        <h1>警告</h1>
      </div>
      <div class="well">
        <p>投資有賺有賠，申購前應詳閱公開說明書。</p>
      </div>




    </div> <!-- /container -->
    


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
  </body>
  
</html>
