<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
        <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <title>一起來估價{{ stock_name }}({{ stock_id }})</title>
    </head>
    <body>
        <h1>Hello！歡迎來到股價值多少~</h1>
            <div style="padding: 100px 100px 10px;">
                <form class="bs-example bs-example-form" role="form">
                    <div class="row">
                        <h3>查詢其他股票</h3>
                        <div class="col-lg-6">
                            <div class="input-group">
                                <form action={{ url_for('stock_query') }} method="get">
                                    <input type="text" name='stock_id' class="form-control" placeholder="請輸入股票代號">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit">
                                            GO ！
                                        </button>
                                        <script>
                                            $(function() {
                                                $(".btn").click(function(){
                                                    $(this).button('loading').delay(1000).queue(function() {
                                                    // $(this).button('reset');
                                                    // $(this).dequeue(); 
                                                    });
                                                });
                                            });  
                                        </script>
                                    </span>
                                </form>
                            </div><!-- /input-group -->
                        </div><!-- /.col-lg-6 -->
                    </div><!-- /.row -->
                </form>
            </div>
        <h3>您查詢的股票是{{ stock_name }}({{ stock_id }})</h3>
        <div class="table-responsive">
            <table class="table table-hover">
                <caption>獲利能力</caption>
                <thead>
                    <tr>
                        {% for column in column_names %}
                            <th>{{ column }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in df %}
                        <tr>
                            {% for data in row %}
                                <td>{{ data }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
</html>